body{
  background-color: rgb(10, 10, 10);
}
h1{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #8be398;
  font-size: 50px;
}
.card-title{
  color:  #1c6828;
  padding: 20px;
}
.card{
  height: 330px;
}

footer{
  height: 200px;
  border-top: 2px solid #1c6828;
}
.row{
  margin-bottom: 20px;
}

@media only screen and (max-width: 700px) {

  .card{
    height: 100%;
  }
  .card-body{
    border-bottom: 10px solid black;
  }
  .row{
    margin-bottom: 0px;
  }
  h1{
    padding: 15px 5px;
    font-size: 36px;
  }
}
